*.worksheet.sc
.ammonite/
.bloop/
.bsp/
.dotty-ide*
.idea/
.metals/
.scala-build/
.scala/
.vscode/
metals.sbt
target/
project/target
project/project/target
01-c-core/target
02-c-config-ciris/target
02-c-config-pureconfig/target
02-c-core/target
02-i-consumer-kafka/target
02-i-data-generator/target
02-o-processor-flink/target
02-o-processor-spark/spark-jars
02-o-processor-spark/target
03-c-main/target
