*.worksheet.sc
.ammonite/
.bloop/
.bsp/
.dotty-ide*
.idea/
.metals/
.scala-build/
.scala/
.vscode/
metals.sbt
target/
project/target
project/project/target
01-core-headers/target
02-c-data-generator/target
02-c-kafka-util/target
02-i-job-processor-flink/target
02-i-job-processor-spark/target
02-i-job-processor-storm/target
02-o-core/target
03-main/target

